/Java Web/netbrans-apache-IntroducaoAoJavaServerFaces2x/jsfDemo-master/build/
/Java Web/netbrans-apache-IntroducaoAoJavaServerFaces2x/jsfDemo-master/nbproject/
/Java Web/netbrans-apache-IntroducaoAoJavaServerFaces2x/jsfdemo-master/nbproject/
/Java Web/netbrans-apache-IntroducaoAoJavaServerFaces2x/jsfDemo-master/dist/
/Java Web/JAVA EE 7 com JSF, PrimeFaces e CDI/Financeiro/target/
